body {
  font-family: roboto, noto-sans, sans-serif;
  font-size: 1rem;

}

li {
  list-style: none;
}

h1, .h1 {
  font-size: var(--font-size-xl);
  font-weight: 200;
}

h2, .h2 {
  font-family: ta-kotodama-r, roboto;
  font-size: var(--font-size-xl);
  font-weight: 200;
}
