.button-wrap {
  display: flex;
  justify-content: center;
  padding: var(--space-sm);
}

.container {
  padding: 0 var(--space-md);
  width: 100%;
  @media screen and (min-width: 992px) {
    margin: 0 auto;
    width: 1000px;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.gnav {
  align-items: center;
  display: flex;
  
  .gnav__list {
    display: flex;
    gap: 16px;
    .gnav__list--item {
      font-weight: 200;
    }
  }
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.keyvis {
  margin-bottom: var(--space-lg);
  @media screen and (min-width: 992px) {
    margin-bottom: var(--space-xl);
  }
}



.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
